body{
margin:0;
font-family:Arial;
background:#fafafa;
padding-bottom:60px;
}

header{
text-align:center;
padding:15px;
font-size:20px;
border-bottom:1px solid #ddd;
background:white;
}

select{
width:92%;
margin:15px auto;
display:block;
padding:12px;
font-size:16px;
border:1px solid #ccc;
border-radius:6px;
}

#info{
width:92%;
margin:10px auto;
background:white;
padding:15px;
border-radius:6px;
border:1px solid #eee;
}

#map{
height:320px;
width:92%;
margin:15px auto;
border-radius:6px;
border:1px solid #ddd;
}

footer{
position:fixed;
bottom:0;
width:100%;
text-align:center;
padding:10px;
border-top:1px solid #ddd;
background:white;
}